:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
}

nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar_"]::after {
        height: 0;
    } */

    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 18.56C0 12.0634 0 8.81508 1.264324 6.33372C2.376456 4.15104 4.15104 2.376456 6.33372 1.264324C8.81508 0 12.0634 0 18.56 0H21.44C27.9366 0 31.18492 0 33.66628 1.264324C35.84896 2.376456 37.62356 4.15104 38.73568 6.33372C40 8.81508 40 12.0634 40 18.56V21.44C40 27.9366 40 31.18492 38.73568 33.66628C37.62356 35.84896 35.84896 37.62356 33.66628 38.73568C31.18492 40 27.9366 40 21.44 40H18.56C12.0634 40 8.81508 40 6.33372 38.73568C4.15104 37.62356 2.376456 35.84896 1.264324 33.66628C0 31.18492 0 27.9366 0 21.44V18.56Z");
    }

    defs, 
    [class*="blobContainer_"],
    [class*="listItemWrapper__"],
    [class*="wrapper_"]:not([class*="listItem__"] > [class*="wrapper_"]),
    [class*="tutorialContainer__"] [class*="wrapper_"],
    svg[class*="placeholderMask__"],
    svg:not([class*="placeholderMask__"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="dragInner__"] {
        width: 40px;
        height: 40px;
    }

    [class*="dragOver_"] {
        &[class*="target_"]::before {
            width: 100%;
            left: calc(var(--guildbar-avatar-size) / 4);
        }

        &[class*="centerTarget_"]::before {
            top: calc(var(--guildbar-avatar-size) / 2 + 8px);
        }
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    img[class*="icon_"], 
    [class*="folderPreviewGuildIcon__"],
    [class*="circleIconButton__"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;

        [class*="selected__"] &, &[class*="selected__"] {
            border-radius: 27% !important;
        }
    }


    [class*="shiftSVG_"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader__"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="-upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="-blob_mask"] {
            scale: calc(var(--blob-scale) / 40);
        }
    }

    [class*="folderPreviewWrapper__"] {
        display: flex;
        justify-content: center;
        align-items: center;

        [class*="folderPreview__"] {
            display: grid;
            grid-template-columns: repeat(2, calc(var(--guildbar-folder-size) * 3 / 8));
            gap: var(--custom-folder-preview-gap);
            width: calc(var(--guildbar-folder-size) * (3 / 4) + var(--custom-folder-preview-gap));
            height: calc(var(--guildbar-folder-size) * (3 / 4) + var(--custom-folder-preview-gap));
        }
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) * 3 / 8);
        height: calc(var(--guildbar-folder-size) * 3 / 8);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) * 3 / 8);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderButton__"] {
        overflow: visible;
    }

    [class*="folderHeader__"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
    }
    
    [class*="folderIcon__"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }
        
        background-color: var(--bg-mod-subtle);
    }
    
    #guild-list-unread-dms > div {
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="isExpanded__"] {
        [class*="folderGroupBackground__"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        [class*="stack_"] {
            height: auto !important;
        }
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
        --blob-scale: var(--folder-blob-scale);
    }
}
